* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

a {
  color: white;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url("../assets/images/main-page.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.slogan {
  font-size: 70px;
  color: white;
  width: 700px;
  margin: 100px 50px 50px 200px;
}

.buzzword {
  color: #fe8100;
  font-weight: 900;
}
